@import "src/constants/colors.module";

.dkreg-form-block {
  position: relative;
  padding-bottom: 15px;

  &__label {
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 5px 0;
  }

  &__input-wrapper {
    display: block;
    position: relative;

    &.no-label {
      padding-top: 23px;
    }
  }

  &__input {
    z-index: 50;
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
    position: relative;
    border-radius: 3px;
    letter-spacing: 0.04em;
    background: $color-beta;
    transition: all ease-out 250ms;
    border: 1px solid rgba(209, 213, 219, 0.25);
  }

  &__icon {
    top: 8px;
    right: 10px;
    z-index: 60;
    overflow: auto;
    cursor: pointer;
    position: absolute;

    svg {
      fill: $color-gray-40;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__helper {
    &--hint {
      padding: 0 8px;
      font-size: 11px;
      color: $color-gray-40;

      strong {
        font-weight: 700;
      }
    }

    &--error {
      font-size: 12px;
      line-height: 22px;
      color: $color-alert;

      svg {
        fill: $color-alert;
        display: inline-block;
        vertical-align: text-top;
      }
    }
  }
}
