@import "src/constants/colors.module";

.dkreg-form-controls {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.dkreg-form-button {
  @media screen and (min-width : 768px) {
    padding: 10px 60px;
  }

  z-index: 500;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 30px;
  position: relative;
  border-radius: 6px;
  transition: all ease-out 100ms;

  &:focus {
    outline: none;
  }

  &__primary {
    color: $color-white;
    background: $color-primary;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    &:after {
      top: 0;
      width: 0;
      left: 50%;
      z-index: -2;
      content: '';
      height: 100%;
      position: absolute;
      transition: all ease-in-out 300ms;
      transform: translateY(0) translateX(-50%) skewX(30deg);
      background: $color-primary-hover-mid;
    }

    &:before {
      top: 0;
      left: 50%;
      z-index: -1;
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      transition-delay: 150ms;
      transition: all ease-in-out 600ms;
      transform: translateY(0) translateX(-50%) skewX(30deg);
      background: $color-primary-hover;
    }

    &.loading {
      cursor: wait;

      & .lds-ellipsis {
        animation: scale-in 300ms ease-in forwards;
      }
    }

    &:hover,
    &.loading {
      &:after,
      &:before {
        width: 150%;
      }
    }
  }

  &__secondary {}

  &__outline {
    font-weight: 400;
    color: $color-link;
    background: $color-white;

    &:hover {
      color: $color-link;
      background: $color-white;
      box-shadow: inset 0 0 0 2px $color-primary;
    }
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.64) rotate(0deg);
  }
}
