$color-primary: #F86E6C;
$color-primary-hover-mid: #F66462;
$color-primary-hover: #F14F4D;
$color-secondary: #009FB7;
$color-alfa: #FED766;
$color-beta: #f0eff3;
$color-gama: #F4F4F8;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-40: #666666;
$color-gray-50: #808080;
$color-link: #B23836;
$color-alert: #B20300;

$borderW: 2px;
$numOfBlobs: 8;
