@tailwind base;
@tailwind components;
@tailwind utilities;

@import "src/constants/colors.module";

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dkreg {
  &__side-panel {}
}

.dkreg-form {
  padding-bottom: 30px;

  &__group {
    &--first-last {
      display: flex;

      .dkreg-form-block {
        flex: 1 0 0;
        padding-right: 8px;
        justify-content: space-between;

        &:last-child {
          padding-right: 0;
          padding-left: 8px;
        }
      }
    }

    &--email {
      width: 80%;
    }

    &--password {
      width: 60%;
    }
  }

  &__submit-button {
    z-index: 500;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    padding: 10px 60px;
    position: relative;
    color: $color-white;
    transition: all ease-out 100ms;
    background: $color-primary;

    &:hover {
      background: $color-primary-hover;

      &:after {}
    }

    &:focus {
      outline: none;
    }

    &--reset {
      font-weight: 400;
      margin-right: 15px;
      color: $color-link;
      background: $color-white;

      &:hover {
        color: $color-link;
        background: $color-white;
        box-shadow: inset 0 0 0 2px $color-primary;
      }
    }
  }
}

footer {
  left: 50%;
  bottom: 0;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  color: $color-white;
  transform: translate3d(-50%, -10px, 0);
  text-shadow: -1px -1px 1px $color-link;
}
