@tailwind base;
@tailwind components;
@tailwind utilities;

@import "src/constants/colors.module";

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dkreg {
  &__side-panel {}
}

main {
  transition: all 500ms ease-in-out;
}

.dkreg-form {
  padding-bottom: 30px;

  &__group {
    @media screen and (min-width : 768px) {
      &--first-last,
      &--city-code {
        display: flex;

        .dkreg-form-block {
          flex: 1 0 0;
          padding-right: 8px;
          justify-content: space-between;

          &:last-child {
            padding-right: 0;
            padding-left: 8px;
          }
        }
      }

      &--city-code {
        .dkreg-form-block {
          flex: 0 0 40%;

          &:last-child {
            flex: 0 0 60%;
          }
        }
      }
    }

    &--email {
      @media screen and (min-width : 768px) {
        width: 80%;
      }
    }

    &--password {
      @media screen and (min-width : 768px) {
        width: 60%;
      }
    }
  }
}

.dkreg-logo {
  @media screen and (min-width : 768px) {
    width: auto;
    height: 200px;
  }

  width: auto;
  height: 84px;
  margin: 0 auto;
}

.dkreg-success {
  padding: 60px 0;
  text-align: center;

  & img {
    width: 38%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }

  & h2 {
    @media screen and (min-width : 768px) {
      width: 75%;
      margin: 0 auto;
      padding-top: 30px;
    }

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $color-primary-hover;
  }

  & p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 15px;
    position: relative;
    color: $color-gray-40;

    & span {
      position: absolute;
      transform: translateX(10px);
      animation: success-smiley 600ms ease-in forwards;
      animation-delay: 1000ms;
      transform-origin: 40% 50%;
    }
  }
}

footer {
  @media screen and (min-width : 768px) {
    left: 50%;
    bottom: 0;
    font-size: 10px;
    position: fixed;
    padding-bottom: 0;
  }

  display: block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: $color-white;
  padding-bottom: 15px;
  text-shadow: 0 1px 3px $color-link;
}

@keyframes success-smiley {
  0% {
    transform: translateX(10px) rotate(0);
  }
  100% {
     transform: translateX(10px) rotate(90deg);
  }
}
